DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_db_password
DB_NAME_TEST=gestion_test
JWT_SECRET=your-test-jwt-secret
TEST_ADMIN_PASSWORD=your_admin_test_password
TEST_GESTOR_PASSWORD=your_gestor_test_password
TEST_USER_PASSWORD=your_user_test_password
